.cart-items {
  margin: 0;
}

.cart-items-title {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #454545;
}

.cart-items-item {
  margin: 20px 0;
}

.carticon-product-icon {
  height: 62px;
  width: 62px;
  object-fit: cover;
}

.cartitems-remove-icon {
  width: 15px;
  margin: auto;
  cursor: pointer;
}

.cartitems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  .cart-items-title {
    font-size: 14px;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 0.5fr;
  }

  .carticon-product-icon {
    height: 40px;
    width: 40px;
  }

  .cartitems-quantity {
    width: 40px;
    height: 30px;
    font-size: 14px;
  }
}
